{
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "alias": {
              "@": ".",
              "~": "."
            }
          }
        ]
      ]
    }
  }
}
